/*Base Colors*/
$gray: #424153;
$gray-light: #999999;
$violet: #663399;
$black: #000;
$light: #ccc;
$white: #fff;

/*End of Base Colors*/

$violet-light-1: rgba(122,68,177,0.82);

$shade-color: #333;

$green: #9BCB3C;
$red: #CF3333;
$orange: #F29F3D;
$yellow: #EFF669;

/*Navbar breaking point*/
$navbar-break-point: 650px;
